<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<title>Playlist Search</title>
</head>
<body>
  <div class="container">
    <h3 class="text-center p-2 w-100"><a href='/'>Playlist Search</a></h3>
    <form action="/" method="get">
      <div class="row w-100 p-1">
        <div class="input-group mb-3 p-0">
            <input id="input_msg" type="text" name="question" class="form-control" placeholder="Ask me something about music..." aria-label="ask me somethings about music" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button id="send_btn" class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
          </div>
      </div>
    </form>
    <div class="row w-100 p-1" style="height: 80px;">
      <div id="log_box" class="col inline-block align-self-start border border-info rounded h-100" style="height: 100%;overflow: scroll;">
        <ul>
        {% for record in search_history|reverse %}
          <li><b>{{ record.q }}</b>:
          {% if record.id %}
            <a href="https://www.kkbox.com/tw/en/playlist/{{ record.id }}" target="_blank">
              {{ record.title }}
            </a>
          {% else %}
            <span>Found nothing...</span>
          {% endif %}
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      {% if playlist_id %}
        <iframe id="kk_widget_player" width="320" height="470" src="https://widget.kkbox.com/v1/?id={{playlist_id}}&type=playlist&terr=tw&lang=tc&autoplay=true&loop=true" frameborder="0" scrolling="no"></iframe>
      {% endif %}
    </div>
  </div>
</body>
</html>
